.search-container {
    margin-top: 20px;
    flex-direction: column;
    color: black;
}

.Li-to-search-location-result:hover {
    background-color: lightslategray;
    cursor: pointer;
}
